$leaderboard-header: hsl(214, 8%, 35%);
$leaderboard-left-icon: #a5aeb1;
$leaderboard-right-icon: #4293f2;
$leaderboard-background: #f6f6f6;
$leaderboard-border: #c7c7cb;
$singin-background: #636363;
